
  <body>
    <section class="hero" >
      <div class="hero-box">
        <h1>Skate Park</h1>
        <p>La vida es corta. Vive apasionadamente.</p>
        <div class="hero-btnbox">
         <a class="btn-hero btn-left" href="/login">Iniciar Session</a>
         <a class="btn-hero btn-right"  href="/registro">Registrate</a>
        </div>
      </div>
  </body>
